:root {
    --primary: #0E76A8;
    --light: #E1F1FD;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--light);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    padding: 0 20%;
    background-color: #FFF;
    height: 50px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 12px -2px rgba(0,0,0,0.3);
}

.logo {
    height: 40px;
    margin: 5px;
}

.container {
    min-height: 84%;
    margin: 0 20%;
}

.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    color: var(--primary);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    /* height: 32vh;
    overflow-y: scroll; */
    justify-content: space-evenly
}

.see-more {
    font-size: 16px;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 16px;
    display: block;
    width: 100px;
    height: 36px;
    margin: 8px auto 0;
}
.see-more:focus {
    outline: none;
}

.project-card {
    height: 240px;
    width: 180px;
    border: 1px solid var(--primary);
    border-radius: 2px;
    margin: 8px;
    background-color: #FFF;
    overflow: hidden;
    cursor: pointer;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    box-shadow: 0 0px 12px 0px rgba(0,0,0,0.3);
}

.project-card:hover .project-img-div {
    margin-top: -50%;
    transition: ease-out 0.5s;
}

.project-name {
    font-size: 130%;
    font-weight: 500;
    margin-bottom: 0.4em;
}

.project-desc {
    margin-top: 0.4em;
}

.repo-link {
    text-decoration: none;
    color: var(--primary);
    border: 2px solid var(--primary);
    text-align: center;
    padding: 0 0.3em 0.2em;
    border-radius: 16px;
    display: block;
}

.repo-link:hover {
    background-color: var(--primary);
    color: white;
    transition: 0.5s;
}

.archive {
    display: inline-block;
    border: 2px solid var(--primary);
    border-radius: 8px;
    margin: 0.2em 1em;
    padding: 0.5em 0.8em;
    font-size: 18px;
    border-radius: 24px;
    text-decoration: none;
    color: white;
    background-color: var(--primary);
}

.archive-bars {
    display: none;
    transition: 0.5s;
}

.notice-bar {
    background-color: #FFF;
    border: 2px solid var(--primary);
    border-radius: 24px;
    margin: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none;
    color:var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}

.footer{
    height: 50px;
    margin-top: 40px;
    padding: 0 20%;
    background-color: #FFF;
    border-top: 1px solid #c4c4c4;
    /* box-shadow: 0 -4px 12px -2px rgba(0,0,0,0.3); */
}

.social {
    float: right;
    overflow: hidden;
    margin: 0.5em 0.2em 0;
    padding: 4px;
    height: 24px;
    width: 24px;
    border: 1px solid var(--primary);
    border-radius: 50%;
}

@media (max-width: 600px) {
    .navbar {
        padding: 0 4%;
    }
    .container {
        margin: 4%;
    }
    .footer {
        padding: 0 4%;
    }
}